* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
}

header>h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #F9F4DA;
}

header>p {
  font-size: 0.875rem;
  margin: 5px;
  max-width: 550px;
  color: #8E8E8E;
}

section.game-status {
  background-color: #10A95B;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F9F4DA;
  border-radius: 4px;
  margin-block: 30px;
}

section.game-status>p {
  margin: 5px;
}

section.game-status>h2 {
  font-size: 1.25rem;
  margin: 5px;
}

section.language-catalogs {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 550px;
  margin-bottom: 35px;
}

span.single-language {
  border-radius: 3px;
  padding: 4.5px;
}

section.word-display {
  display: flex;
  justify-content: center;
  gap: 3px;
}

section.word-display > span {
  height: 40px;
  width: 35px;
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #F9F4DA 1px solid;
  margin-bottom: 35px;
}

section.keyboard-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
  max-width: 550px;
}

section.keyboard-display > button {
  height: 35px;
  width: 35px;
  background-color: #FCBA29;
  border: #D7D7D7 1px solid;
  border-radius: 3px;
  cursor: pointer;
}

section.keyboard-display > button.correct {
  background-color: #10A95B;
}

section.keyboard-display > button.wrong {
  background-color: #EC5D49;
}

button.button-display {
  height: 40px;
  width: 200px;
  display: block;
  background-color: #11B5E5;
  border: #D7D7D7 1px solid;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  margin-inline: auto;
  margin-top: 35px;
  padding: 6px 12px;
  color: #F9F4DA;
}




